/**
 * 
 * 		Document:    | cyborg_dark.css
 * 		Author:      | CyborgJenn
 * 		Created:     |  7/4/2017
 * 		Description: | Dark CSS styling for use in JavaFX applications.
 * 
 */

/* Redefine base colors */

.root {
	-icons-color: rgb(255, 154, 8);
	/*------------   Base   ------------*/
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);
    -fx-background-radius: 5;
    /*------------   Font   ------------*/
	-fx-font-size: 14;
	-fx-font-family: 'Helvetica', Arial, sans-serif;
    /* make controls (buttons, thumb, etc.) slightly lighter */
    -fx-color: derive(-fx-base, 10%);
     
    
	-fx-focus-color: transparent; /* Selected color */
	-fx-faint-focus-color: transparent;
	-fx-hover-base: ladder(
        -fx-base,
        derive(-fx-base,20%) 20%,
        derive(-fx-base,30%) 35%,
        derive(-fx-base,40%) 50%
     );
    /* text fields and table rows background */
    -fx-control-inner-background: rgb(30, 30, 30);
    /* version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    /* text colors depending on background's brightness */
    -fx-light-text-color: rgb(220, 220, 220);
    -fx-mid-text-color: rgb(100, 100, 100);
    -fx-dark-text-color: rgb(20, 20, 20);

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: derive(-fx-base, 30%);

    /* color of non-focused yet selected elements */
    -fx-selection-bar-non-focused: rgb(50, 50, 50);
}

/* Fix scroll bar buttons arrows colors */
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(220, 220, 220);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(240, 240, 240);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(255, 255, 255);
}

/**************************************************
 * 					 Header
 **************************************************/
 #header {
 	-fx-background-color: derive(-fx-base,-50%);
 	-fx-background-radius: 5 5 0 0;
 }
 
  #Title {
  	-fx-font-size: 14;
  	-fx-text-fill: #FF9A08;
  }
 /*************************************************
  *                   Label
  *************************************************/
  #seplabel {
  	-fx-background-color: -fx-base;
  	-fx-padding: 5;
  	-fx-font-size: 12;
  	-fx-text-fill: #FF9A08;
  }
  #values {
  	-fx-font-size: 12;
  	-fx-text-fill: #FF9A08;
  }
  .label {
  	-fx-padding: 5;
  	-fx-font-size: 14;
  	-fx-text-fill: #FF9A08;
  }
  #awesomeLabel {
  	-fx-padding: 5;
  	-fx-font-size: 14;
  	-fx-text-fill: #FF9A08;
  	-fx-font-family: 'FontAwesome';
  }
  /*************************************************
  *                   Button
  *************************************************/
  .button {
 	-fx-font-family: 'Helvetica';
  	-fx-font-size: 14px;
  	-fx-background-insets: 0;
  	-fx-background-color: derive(-fx-base,-50%);
  	-fx-text-fill: linear-gradient(to bottom, derive(-icons-color,20%) 10%, derive(-icons-color,-40%) 80%);
  }
  .button:hover {
  	-fx-background-color: derive(-fx-base,-20%);
  }
  .button:pressed {
  	-fx-background-color: derive(-fx-base,-70%);
  }
  #close-btn {
 	-fx-font-family: 'FontAwesome';
    -fx-background-radius: 0 5 0 0;
  }
  #min-btn {
  	-fx-font-family: 'FontAwesome';
  }
  #set-btn {
  	-fx-font-family: 'FontAwesome';
    -fx-background-radius: 0 0 0 5;
  }
  /*************************************************
  *                 Text Fields
  *************************************************/
#keys {
  	-fx-font-family: 'FontAwesome';
    -fx-background-radius: 0 0 0 5;
    -fx-max-width: 150px;
    -fx-text-fill: linear-gradient(to bottom, derive(-icons-color,20%) 10%, derive(-icons-color,-40%) 80%);
}
/* Fix derived prompt color for text fields */
.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
    -fx-prompt-text-fill: transparent;
}